<div class="container">
  <h1>Gauge Dashboard</h1>

  <div class="gauge-container">
    <ngx-gauge
      [type]="'arch'"
      [value]="moisture"
      [size]="300"
      [cap]="'round'"
      [thick]="30"
      [max]="1024"
      [label]="'Moisture Level'"
    ></ngx-gauge>
    <button (click)="speak('Soil Moisture Level', moisture)">
      Speak Moisture Level
    </button>
  </div>

  <div class="gauge-container">
    <ngx-gauge
      [type]="'arch'"
      [value]="waterLevel"
      [size]="300"
      [cap]="'round'"
      [thick]="30"
      [append]="'%'"
      [max]="100"
      [label]="'Water Level'"
    ></ngx-gauge>
    <button (click)="speak('Water Level', waterLevel)">
      Speak Water Level
    </button>
  </div>
  <div class="gauge-container-temp">
    <ngx-gauge
      [type]="'arch'"
      [value]="temperature"
      [size]="300"
      [cap]="'round'"
      [thick]="30"
      [max]="100"
      [label]="'Temperature'"
    ></ngx-gauge>
    <button (click)="speak('Temperature Level', temperature)">
      Speak Temperature Level
    </button>
  </div>
  <div class="gauge-container-temp">
    <ngx-gauge
      [type]="'arch'"
      [value]="gas"
      [size]="300"
      [cap]="'round'"
      [thick]="30"
      [max]="1000"
      [label]="'Gas Level'"
    ></ngx-gauge>
    <button (click)="speak('Gas Level', waterLevel)">Speak Gas Level</button>
  </div>
  <div class="button-container">
    <label>User Notification:</label>
    <input
      type="checkbox"
      [(ngModel)]="userNotified"
      (change)="toggleUserNotification()"
    />
  </div>
  <div class="button-container">
    <label>User TurnOnPump:</label>
    <input
      type="checkbox"
      [(ngModel)]="turnOnPump"
      (change)="toggleUserNotification()"
    />
  </div>
</div>
