.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .gauge-container {
    display: inline-block;
    margin: 20px;
  }
  .gauge-container-temp {
    display: block; 
    margin: 20px auto; 
  }
  
  button {
    font-size: 30px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }